[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.6.1"
flask = "*"
requests = "*"
pyarrow = "*"
gunicorn = "*"

[dev-packages]
requests = "*"
awsebcli = "*"
pandas = "*"
seaborn = "*"
matplotlib = "*"
pyarrow = "*"
fastparquet = "*"

[requires]
python_version = "3.12"
